* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100vw;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 50px auto 150px;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto;
    min-height:80vh;
}

header {
    height: 100%;
    width: 100%;
    background: rgb(79, 141, 235)
}

aside {
    height: 100%;
    width: 100%;
}

